<mat-toolbar>
<button mat-mini-fab title="Return" routerLink="/register-form"  (click)="setLabel(true)" routerLinkActive="active" class="button-return">
  <mat-icon md-12 aria-label="Ver registrados">keyboard_return</mat-icon>
</button>
  <span *ngIf="labelManage">{{formPerson}} form register</span>
  <span *ngIf="!labelManage">People list</span>

  <button mat-mini-fab title="See registered people" routerLink="/listpeople" (click)="setLabel(false)" routerLinkActive="active" class="button-people">
      <mat-icon  md-12  aria-label="See people">view_list</mat-icon>
    </button>
</mat-toolbar>
<!--<app-tabs  (changeLabel)="testing($event)"></app-tabs>-->
<router-outlet></router-outlet>


