<mat-card class="example-card">

  <mat-card-content>

    <form #personForm="ngForm" [formGroup]="form" (ngSubmit)="onSubmit(personForm)">
      <mat-form-field class="example-full-width">
        <mat-select formControlName="documentTypeForm" [(ngModel)]="personService.selectedPerson.documentType" placeholder="Document type">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let idtypes of idTypes" [value]="idtypes.name">
            {{idtypes.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput type="text" formControlName="idDocumentForm" [(ngModel)]="personService.selectedPerson.document" placeholder="Id">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput type="text" formControlName="nameForm" [(ngModel)]="personService.selectedPerson.name" placeholder="Names"
          required>
      </mat-form-field>
      <div *ngIf="submitted && formGr.nameForm.errors" class="div-errors">
        <div *ngIf="formGr.nameForm.errors.required">Name is required</div>
      </div>

      <mat-form-field class="example-full-width">
        <input matInput type="text" formControlName="lastnameForm" [(ngModel)]="personService.selectedPerson.lastname" placeholder="Lastname"
          required>
      </mat-form-field>
      <div *ngIf="submitted && formGr.lastnameForm.errors" class="div-errors">
        <div *ngIf="formGr.lastnameForm.errors.required">Lastname is required</div>
      </div>

      <div>
        <mat-datepicker-toggle matSuffix [for]="myDatepicker">
        </mat-datepicker-toggle>
        <mat-form-field class="width-date">
          <input matInput [matDatepicker]="myDatepicker" [max]="maxDate" type="text" formControlName="datebirthForm" [(ngModel)]="personService.selectedPerson.birthday"
            placeholder="Birthday">
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div *ngIf="submitted && formGr.datebirthForm.errors" class="div-errors">
        <div *ngIf="formGr.datebirthForm.errors.required">Datebirth is required</div>
      </div>


      <mat-form-field class="example-full-width">
        <input type="email" matInput formControlName="emailForm" [(ngModel)]="personService.selectedPerson.email" placeholder="Email"
          required>
      </mat-form-field>
      <div *ngIf="submitted && formGr.emailForm.errors" class="div-errors">
        <div *ngIf="formGr.emailForm.errors.required">Invalid email</div>
      </div>

      <mat-form-field class="example-full-width">
        <input matInput type="text" formControlName="phoneForm" [(ngModel)]="personService.selectedPerson.phone" placeholder="Phone">
      </mat-form-field>
      <div *ngIf="submitted && formGr.phoneForm.errors" class="div-errors">
        <div *ngIf="formGr.phoneForm.errors.minlength">Phone must be at least 7 characters</div>
        <div *ngIf="formGr.phoneForm.errors.maxlength">Phone must has 10 characters maximun</div>
      </div>

      <div class="example-form">
        <h2>{{subLabel}}</h2>
        <mat-checkbox formControlName="checkForm" (click)="setValues()" [(ngModel)]="checked">None</mat-checkbox>
      </div>


      <mat-form-field class="example-full-width" [hidden]="checked">
        <input matInput type="text" formControlName="referenceNameForm" [(ngModel)]="personService.selectedPerson.reference.name"
          placeholder="Names">
      </mat-form-field>

      <mat-form-field class="example-full-width" [hidden]="checked">
        <input matInput type="text" formControlName="referenceLastnameForm" [(ngModel)]="personService.selectedPerson.reference.lastname"
          placeholder="Lastname">
      </mat-form-field>

      <mat-form-field class="example-full-width" [hidden]="checked">
        <mat-select formControlName="referenceKindFamilyForm" [(ngModel)]="personService.selectedPerson.reference.familiarKind" placeholder="Related">
          <mat-option>Otro</mat-option>
          <mat-option *ngFor="let kindFamily of listFamiliar" [value]="kindFamily.name">
            {{kindFamily.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width" [hidden]="checked">
        <input type="email" matInput formControlName="referenceEmailForm" [(ngModel)]="personService.selectedPerson.reference.email"
          placeholder="Email">
      </mat-form-field>

      <mat-form-field min="7" max="10" class="example-full-width" [hidden]="checked">
        <input matInput type="text" formControlName="referencePhoneForm" [(ngModel)]="personService.selectedPerson.reference.phone"
          placeholder="Phone">
      </mat-form-field>


      <div class="button-div">
        <button mat-raised-button color="primary" type="submit">Register</button>
      </div>

    </form>
  </mat-card-content>

</mat-card>



<!--
  <form class="example-form ">

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Input" [disabled]="!editMode" [(ngModel)]="litre"  [ngModelOptions]="{standalone: true}">
  </mat-form-field>
</form>
-->