.data-table{
    margin-top: 24px !important;
    justify-content: center;
    width: 90%;
    max-width: 1000px;
    min-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.mat-table{
    overflow: auto;
    max-width: 1000px;
    border-collapse: collapse; 
}
/*

@media(max-width: 800px) {
    .responsive_table {
        overflow-x: auto !important;
    }

    .mat-table {
        min-width:800px;
    }

    .mat-row, .mat-header-row {
        width: 450vw; 
      }
      .mat-header-row { 
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 1;
        background-color: inherit;
      }
      .table { 
        overflow: scroll;
        display: block
      }
   }*/

   @media(max-width: 800px) {
    .responsive_table {
        overflow-x: auto !important;
    }

    .mat-table {
        min-width:800px;
    }
}




	


/*
.mobile-label {
    display: none;
  }
  
  @media(max-width: 600px) {
    .mobile-label {
      width: 80px;
      display: inline-block;
      font-weight: bold;
    }
  
    .mat-header-row {
      display: none;
    }
  
    .mat-row { 
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
    }
  }*/
